{% extends 'base.html' %}

{% block content %}
    <h1 class="headline-text">Thank you for applying for a name change!</h1>
    <p>Thank you for submitting your name change application &mdash; your confirmation number is <strong>X7Ty51</strong>.</p>
    <p>For status updates on your application, please call the USCIS customer service center at 1-800-666-5713.</p>

    <div class="button_wrapper">
        <a href="{% url 'bonus-services' %}" class="usa-button usa-button-small">Continue</a>
    </div>

{% endblock %}

