{% extends 'base.html' %}
{% load i18n %}

{% block content %}

  <h2 class="subhead-text">
    Global Entry/TSA PreCheck application (optional)
  </h2>
  <p class="intro-text">
    You indicated that you’d like to apply for Global Entry/TSA PreCheck. You’ve already provided most of the information necessary for this application; you’ll need to answer just a few additional questions.
  </p>

  <h3>
    Additional information:
  </h3>

  <form method="POST" action="/" class="usa-form-large">
    {% csrf_token %}
    {% for field in form %}
      {{ field.label_tag }}
      {% if field.help_text %}
        <div class="tooltip">
          <p class="tooltip-text" id="tooltip-text-labels">{{ field.help_text }}</p>
          <a class="usa-label label-beta" href="#" aria-describedby="tooltip-text-labels">?</a>
        </div>
      {% endif %}
      {{ field.errors }}
      {{ field }}

    {% endfor %}
  </form>

  <div class="button_wrapper">
    <a href="{% url 'bonus-services' %}" class="usa-button usa-button-small">Cancel</a>
    <!-- Currently a link, not a genuine submit button. -->
    <a href="{% url 'confirm-global-entry' %}" class="usa-button usa-button-small">Submit</a>
  </div>

{% endblock %}
