{% extends 'base.html' %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block content %}
  {% load floppyforms %}

  <h2 class="subhead-text">
    U.S. passport application (optional)
  </h2>
  <p class="intro-text">
    You indicated that you’d like to apply for a U.S. passport. By completing the N-400, you’ve already provided most of the information necessary for this application; you’ll need to share just a few additional pieces of information.
  </p>

  <p class="body-text">
    Additional information:
  </p>

  <form method="POST" action="/" class="usa-form-large">
    {% csrf_token %}
    {{ wizard.management_form }}
    {% for field in wizard.form %}
      {{ field.label_tag }}
      {% if field.help_text %}
        <div class="tooltip">
          <p class="tooltip-text" id="tooltip-text-labels">{{ field.help_text }}</p>
          <a class="usa-label label-beta" href="#" aria-describedby="tooltip-text-labels">?</a>
        </div>
      {% endif %}
      {{ field.errors }}
      {{ field }}

    {% endfor %}
  </form>

  <div class="button_wrapper">
    <a href="{% url 'bonus-services' %}" class="usa-button usa-button-small">Cancel</a>
    <!-- Currently a link, not a genuine submit button. -->
    <a href="{% url 'confirm-passport' %}" class="usa-button usa-button-small">Submit</a>
  </div>

{% endblock %}
