{% extends 'base.html' %}
{% load i18n %}

{% block content %}

  <h2 class="subhead-text">Optional recommended services</h2>
  <p class="intro-text">
    Based on the information you provided, you’re eligible to legally change your name and apply for Global Entry/TSA PreCheck and a U.S. passport.
  </p>

  <div class="optional-services-block">
    <p class="body-text">
      <div class="tooltip">
        <p class="tooltip-text" id="tooltip-text-labels">Changing your name now will save time and additional expenses later on. Name-change policies vary by state; check your state’s policies for more guidance.</p>
        <a class="usa-label label-beta" href="#" aria-describedby="tooltip-text-labels">?</a>
      </div>
      Would you like to apply to legally <strong>change your name</strong>?<br />
      <em>You've currently answered 95% of the necessary questions.</em>
      {% if bonuses_completed.name_change %}
        <div class="button-wrapper">
          <button class="usa-button-disabled" disabled>{% trans "Done" %}</button>
        </div>
      {% else %}
        <div class="apply-button">
          <a href="{% url 'name-change' %}" class="usa-button usa-button-small">{% trans "Apply" %}</a>
        </div>
      {% endif %}
    </p>
    <p class="body-text">
      <div class="tooltip">
        <p class="tooltip-text" id="tooltip-text-labels">These services let travelers enjoy expedited security screening at participating airports.</p>
        <a class="usa-label label-beta" href="#" aria-describedby="tooltip-text-labels">?</a>
      </div>
      Would you like to <strong>apply for Global Entry/TSA PreCheck</strong>?<br />
      <em>You've currently answered 70% of the necessary questions.</em>
      {% if bonuses_completed.global_entry %}
        <div class="button-wrapper">
          <button class="usa-button-disabled" disabled>{% trans "Done" %}</button>
        </div>
      {% else %}
        <div class="apply-button">
          <a href="{% url 'global-entry' %}" class="usa-button usa-button-small">{% trans "Apply" %}</a>
        </div>
      {% endif %}
    </p>
    <p class="body-text">
      <div class="tooltip">
        <p class="tooltip-text" id="tooltip-text-labels">A U.S. passport is a form of identification that serves as proof of U.S. citizenship. It’s required for travel to other countries and to return to the United States after travel abroad.</p>
        <a class="usa-label label-beta" href="#" aria-describedby="tooltip-text-labels">?</a>
      </div>
      Would you like to <strong>apply for a U.S. passport</strong>?<br />
      <em>You've currently answered 85% of the necessary questions.</em>
      {% if bonuses_completed.passport %}
        <div class="button-wrapper">
          <button class="usa-button-disabled" disabled>{% trans "Done" %}</button>
        </div>
      {% else %}
        <div class="apply-button">
          <a href="{% url 'passport' %}" class="usa-button usa-button-small">{% trans "Apply" %}</a>
        </div>
      {% endif %}
    </p>
  </div>

  <p class="body-text">
    If these additional applications are approved, the granting agencies will contact you directly.
  </p>

{% endblock %}
