{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}FAFSA - Federal Student Aid{% endblock %}</title>
      <link rel="stylesheet" href="{% static "css/uswds.min.css" %}">
      <style type="text/css">
        .help-text {
            font-style: italic;
            font-weight: normal;
        }
      </style>
  </head>
  <body>
    <div class="usa-grid-full">
      <div class="usa-width-one-whole">
        <img src="https://www.usa.gov/sites/all/themes/usa/images/Logo_USA.png" style="height: 100px;float: left;">
        {% block content %}{% endblock %}
      </div>
    </div>
  <script src="{% static "js/uswds.min.js" %}"></script>
  </body>
</html>
