{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
  {% load floppyforms %}
  <h1>Welcome to the FAFSA!</h1>
  <p>To complete this form and be considered for federal financial aid, you’ll need to answer a series of questions about yourself, your parents, and your financial history.</p>

  <form method="POST" action="." class="usa-form-large">
    {% csrf_token %}
    {% for field in form %}
      {% if field.errors %}<div class="usa-input-error">{% endif %}
        <label for="{{ field|id }}" {% if field.errors %}class="usa-input-error-label"{% endif %}>
          {{ field.label }}:
        </label>
        {% if field.help_text %}<div class="help-text usa-form-hint">{{ field.help_text }}</div>{% endif %}
        {% for error in field.errors %}
          <span class="usa-input-error-message" role="alert">{{ error }}</span>
        {% endfor %}
        {% widget field %}
      {% if field.errors %}</div>{% endif %}
    {% endfor %}
    <div class="button_wrapper">
      <button class="usa-button-big" type="submit">Submit</button>
    </div>
  </form>
{% endblock content %}
