{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
  {% load floppyforms %}
    <header class="usa-site-header disclaimer" role="banner">

      <div class="usa-disclaimer">
        <div class="usa-grid-no-padding">
          <div class="usa-width-one-whole">
            <div class="disclaimer-left">
                <span class="usa-disclaimer-official">
                  An official website of the United States Government
                  <img class="usa-flag_icon" alt="U.S. flag signifying that this is a United States Federal Government website" src="{% static 'assets/img/usa-flag.png' %}">
                </span>
              </div>
              <div class="disclaimer-right">
                <span>
                  This site is a <a href="https://18f.gsa.gov/dashboard/stages/#discovery">discovery prototype</a>.
                </span>
              </div>
          </div>
        </div>
      </div>

    </header>
  <h1>Welcome to the FAFSA!</h1>

  <form method="POST" action="." class="usa-form-large">
    {% csrf_token %}
    {% for field in form %}
      {% if field.errors %}<div class="usa-input-error">{% endif %}
        <label for="{{ field|id }}" {% if field.errors %}class="usa-input-error-label"{% endif %}>
          {{ field.label }}:
        </label>
        {% if field.help_text %}<div class="help-text usa-form-hint">{{ field.help_text }}</div>{% endif %}
        {% for error in field.errors %}
          <span class="usa-input-error-message" role="alert">{{ error }}</span>
        {% endfor %}
        {% widget field %}
      {% if field.errors %}</div>{% endif %}
    {% endfor %}
    <div class="button_wrapper">
      <button class="usa-button-big" type="submit">Submit</button>
    </div>
  </form>
{% endblock content %}