{% extends 'base.html' %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
  {% load floppyforms %}
  <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

  <h1>{{ hed }}</h1>
  <h1>{{ subhead }}</h1>
  <p>{{ intro }}</p>

  <p>{{ body }}</p>

  <form method="POST" action="/" class="usa-form-large">
    {% csrf_token %}
    {{ wizard.management_form }}
    {% for field in wizard.form %}
      {{ field.label_tag }} {{ field }}
      {{ field.help_text }}
    {% endfor %}
    {% include 'includes/navigation.html' %}
  </form>

{% endblock %}
