/* USWDS Overrides */

form [type="submit"], form [type="submit"] {
  display: inline-block;
  height: 4.4rem;
}

.usa-banner-inner {
  padding: 0;
}

.usa-header-extended .usa-navbar {
  padding: 0;
}

@media screen and (min-width: 951px) {
  .usa-header-extended .usa-logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .usa-header {
    border-bottom: 1px solid #d0d0d0;
  }
}

.usa-header {
  background: #1f5c99; /* dept of ed color */
}

.usa-logo a {
  color: #FFFFFF;
  font-weight: 400;
}

.usa-nav-secondary-links a {
  color: #FFFFFF;
}

/* Other CSS */

.main-content {
  padding: 4rem 1rem 0;
}

@media screen and (min-width: 951px) {
  .main-content {
    padding-left: 4rem 0 0;
  }
}

.usa-logo-subtext {
  color: #FFFFFF;
  display: block;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.6rem;
}

.disclaimer-right {
  float: right;
}

.main-content {
  padding-top: 4rem;
}

.tooltip {
  display: inline-block;
  position: absolute;
  margin-top: 3rem;
  margin-left: 5px;
}
.tooltip:hover .tooltip-text {
  opacity: 1;
}

.tooltip-text {
  display: none;
}

@media screen and (min-width: 600px) {
  .tooltip-text {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    background-color: #323a45;
    border-radius: 0.3rem;
    bottom: 100%;
    color: #ffffff;
    display: block;
    font-size: 14px;
    left: 50%;
    padding: 7px 10px;
    width: 267px;
    opacity: 0;
    position: absolute;
    transition: all 0.1s ease-in-out;
    transition-delay: 0.1s;
    z-index: 1;
  }
}

.usa-form-large label {
  display: inline-block;
}

.usa-label {
  background-color: #0071bc;
  border-radius: 1rem;
  color: #ffffff;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  padding: 0.1rem 0.7rem;
  text-transform: uppercase;
  text-decoration: none;
}

a:visited.usa-label {
  color: #FFFFFF;
}
